<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에어비앤비
    {% block title %}{% endblock title %}
    </title>
  </head>
  <body>
    <nav>
      {% include "components/nav.html" %}
    </nav>
    <header>
      {% comment %} {% include "components/header.html" %} {% endcomment %}
      {% block search-bar %}
      <form action="{% url 'rooms:search' %}">
        <input type="text" placeholder="Search by City" name="city">
      </form>
      {% endblock search-bar %}
    </header>
    <main>
      {% block content %}
      MAIN
      {% endblock content %}
    </main>
    <hr>
    {% include "components/footer.html" %}
  </body>
</html>